<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <ul th:each="item:${petList}">
        <li>
            Type: <span th:text="${item.type}"></span>
        </li>
        <li>
            Birthdate: <span th:text="${item.birthdate}"></span>
        </li>
        <li>
            Gender: <span th:text="${item.gender}"></span>
        </li>
        <li>
            Name: <span th:text="${item.name}"></span>
        </li>
    </ul>
    <a href="/home">Go Back!</a>
</body>
</html>